@model PartyInvites.Models.GuestResponse
@{Layout = null;}
<!DOCTYPE html>
<html>
	<head>
		<title>Thanks</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
	</head>
<body class="text-center">
		<p>
			<h1>Спасибо @Model.Name!</h1>
		@if (Model.WillAttend == true)
		{
			@:Хорошо что прийдешь!
		}
		else
		{
			@:Ну и как хочешь!
		}
	</p>
	<p> 
		@* Нажми <a asp-action="ListResponses">здесь</a> чтоб увидеть кто идет. *@
		Нажми <a class="nav-link" asp-action="ListResponses">здесь</a> чтоб увидеть кто идет.

	</p>
	</body>
</html>


